:root{
}

.box {
    display:flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    word-wrap: break-word;
    text-align: center;
    margin: 10px;
}
#toptracks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
}
.track{
    display:flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    /* cursor: pointer;
    word-wrap: break-word; */
    text-align: left;
    margin: 10px;

}
.tracklabel{
    display:flex;
    flex-direction: column;
    /* line-height: 60px; */
    /* margin-top: auto; */
    
}
#related, #container{
    display: flex;
    flex-wrap: wrap;
}


#art{
    position: relative;
    /* top: -45px; */
}